body {
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-contents: center; */
  align-items: center;
  color: white;
  background-color: rgb(39, 47, 90);
  font-family: "Orelega One", cursive;
}

.nav_menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}

.nav_menu li {
  padding-right: 5px;
  padding-left: 5px;
}

.nav_menu li:hover {
  background-color: rgb(85, 92, 136);
  border-radius: 4px;
}

.nav_logo {
  padding-right: 5px;
  padding-left: 5px;
  /* font-size: larger; */
  font-size: 150%;
  /* font-family: "Sacramento", cursive; */
}

.nav_logo i {
  /* color: rgb(236, 236, 55); */
  color: rgb(236, 236, 55);
}

.nav_link {
  display: flex;
  padding-right: 5px;
  padding-left: 5px;
}

.nav_link li {
  padding-right: 5px;
  padding-left: 5px;
  list-style: none;
}

@media screen and (max-width: 530px) {
  .nav {
    flex-direction: column;
    padding-top: 10px;
  }

  .nav_link {
    margin: 13px;
  }

  .nav_menu {
    flex-direction: column;
    align-items: center;
    /* margin: 10px; */
  }

  .nav_link {
    margin-top: 0;
  }
}
